name: Build Android APK (Buildozer)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # ВАЖНО: Java 17 ДО setup-android
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            zip unzip \
            build-essential \
            libstdc++6 \
            libncurses6 libncurses-dev \
            libffi-dev libssl-dev

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Android components (with licenses)
        run: |
          yes | sdkmanager --licenses
          sdkmanager \
            "platform-tools" \
            "platforms;android-33" \
            "build-tools;33.0.2" \
            "ndk;25.2.9519653"
          yes | sdkmanager --licenses

      - name: Install Buildozer
        run: |
          python -m pip install --upgrade pip
          pip install buildozer cython==0.29.36
               - name: Clean buildozer cached SDK/NDK (force system SDK)
        run: |
          rm -rf ~/.buildozer/android/platform/android-sdk || true
          rm -rf ~/.buildozer/android/platform/android-ndk-* || true
 

      - name: Build APK (debug) using system SDK (NOT ~/.buildozer SDK)
        env:
          ANDROID_SDK_ROOT: ${{ env.ANDROID_SDK_ROOT }}
          ANDROID_HOME: ${{ env.ANDROID_SDK_ROOT }}
          ANDROIDSDK: ${{ env.ANDROID_SDK_ROOT }}
          ANDROIDNDK: ${{ env.ANDROID_SDK_ROOT }}/ndk/25.2.9519653
          ANDROIDNDK_HOME: ${{ env.ANDROID_SDK_ROOT }}/ndk/25.2.9519653
        run: |
          echo "ANDROID_SDK_ROOT=$ANDROID_SDK_ROOT"
          echo "ANDROIDNDK=$ANDROIDNDK"
          buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: quake-apk
          path: bin/*.apk
